
.app{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
}
.appbody{
    display: flex;
    margin-top: 35px;
    margin-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}
